---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=41ef5851acae69b001894d2bce7751961fb47af9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1472762690'
      Etag:
      - W/"fc6171317381edcfaa4ed8cda988a83d"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - d9b967a5bc5975ade778
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/repos?access_token=41ef5851acae69b001894d2bce7751961fb47af9&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=41ef5851acae69b001894d2bce7751961fb47af9&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":59972208,"name":"http-project","full_name":"allindow/http-project","owner":{"login":"allindow","id":17581181,"avatar_url":"https://avatars.githubusercontent.com/u/17581181?v=3","gravatar_id":"","url":"https://api.github.com/users/allindow","html_url":"https://github.com/allindow","followers_url":"https://api.github.com/users/allindow/followers","following_url":"https://api.github.com/users/allindow/following{/other_user}","gists_url":"https://api.github.com/users/allindow/gists{/gist_id}","starred_url":"https://api.github.com/users/allindow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/allindow/subscriptions","organizations_url":"https://api.github.com/users/allindow/orgs","repos_url":"https://api.github.com/users/allindow/repos","events_url":"https://api.github.com/users/allindow/events{/privacy}","received_events_url":"https://api.github.com/users/allindow/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/allindow/http-project","description":"Mod
        1 HTTP Project - Yoseph & Angela","fork":false,"url":"https://api.github.com/repos/allindow/http-project","forks_url":"https://api.github.com/repos/allindow/http-project/forks","keys_url":"https://api.github.com/repos/allindow/http-project/keys{/key_id}","collaborators_url":"https://api.github.com/repos/allindow/http-project/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/allindow/http-project/teams","hooks_url":"https://api.github.com/repos/allindow/http-project/hooks","issue_events_url":"https://api.github.com/repos/allindow/http-project/issues/events{/number}","events_url":"https://api.github.com/repos/allindow/http-project/events","assignees_url":"https://api.github.com/repos/allindow/http-project/assignees{/user}","branches_url":"https://api.github.com/repos/allindow/http-project/branches{/branch}","tags_url":"https://api.github.com/repos/allindow/http-project/tags","blobs_url":"https://api.github.com/repos/allindow/http-project/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/allindow/http-project/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/allindow/http-project/git/refs{/sha}","trees_url":"https://api.github.com/repos/allindow/http-project/git/trees{/sha}","statuses_url":"https://api.github.com/repos/allindow/http-project/statuses/{sha}","languages_url":"https://api.github.com/repos/allindow/http-project/languages","stargazers_url":"https://api.github.com/repos/allindow/http-project/stargazers","contributors_url":"https://api.github.com/repos/allindow/http-project/contributors","subscribers_url":"https://api.github.com/repos/allindow/http-project/subscribers","subscription_url":"https://api.github.com/repos/allindow/http-project/subscription","commits_url":"https://api.github.com/repos/allindow/http-project/commits{/sha}","git_commits_url":"https://api.github.com/repos/allindow/http-project/git/commits{/sha}","comments_url":"https://api.github.com/repos/allindow/http-project/comments{/number}","issue_comment_url":"https://api.github.com/repos/allindow/http-project/issues/comments{/number}","contents_url":"https://api.github.com/repos/allindow/http-project/contents/{+path}","compare_url":"https://api.github.com/repos/allindow/http-project/compare/{base}...{head}","merges_url":"https://api.github.com/repos/allindow/http-project/merges","archive_url":"https://api.github.com/repos/allindow/http-project/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/allindow/http-project/downloads","issues_url":"https://api.github.com/repos/allindow/http-project/issues{/number}","pulls_url":"https://api.github.com/repos/allindow/http-project/pulls{/number}","milestones_url":"https://api.github.com/repos/allindow/http-project/milestones{/number}","notifications_url":"https://api.github.com/repos/allindow/http-project/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/allindow/http-project/labels{/name}","releases_url":"https://api.github.com/repos/allindow/http-project/releases{/id}","deployments_url":"https://api.github.com/repos/allindow/http-project/deployments","created_at":"2016-05-30T01:34:23Z","updated_at":"2016-05-30T22:38:03Z","pushed_at":"2016-06-03T14:57:21Z","git_url":"git://github.com/allindow/http-project.git","ssh_url":"git@github.com:allindow/http-project.git","clone_url":"https://github.com/allindow/http-project.git","svn_url":"https://github.com/allindow/http-project","homepage":null,"size":42,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":62673354,"name":"rush_hour","full_name":"concach/rush_hour","owner":{"login":"concach","id":16453494,"avatar_url":"https://avatars.githubusercontent.com/u/16453494?v=3","gravatar_id":"","url":"https://api.github.com/users/concach","html_url":"https://github.com/concach","followers_url":"https://api.github.com/users/concach/followers","following_url":"https://api.github.com/users/concach/following{/other_user}","gists_url":"https://api.github.com/users/concach/gists{/gist_id}","starr[...]
