---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Yoyo2Code/events?access_token=41ef5851acae69b001894d2bce7751961fb47af9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '1472762690'
      Etag:
      - W/"b4b6822eb56a951af0dc7731ecc60114"
      Last-Modified:
      - Thu, 01 Sep 2016 05:46:32 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - d9b967a5bc5975ade778
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/16968035/events?access_token=41ef5851acae69b001894d2bce7751961fb47af9&page=2>;
        rel="next", <https://api.github.com/user/16968035/events?access_token=41ef5851acae69b001894d2bce7751961fb47af9&page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"4500594115","type":"PushEvent","actor":{"id":16968035,"login":"Yoyo2Code","display_login":"Yoyo2Code","gravatar_id":"","url":"https://api.github.com/users/Yoyo2Code","avatar_url":"https://avatars.githubusercontent.com/u/16968035?"},"repo":{"id":61680308,"name":"Yoyo2Code/web_guesser","url":"https://api.github.com/repos/Yoyo2Code/web_guesser"},"payload":{"push_id":1277526396,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"90c83847ef9783414d438b4a6203ccf070148113","before":"1c7817dd7ea2965368810de44fbee5bcb609a864","commits":[{"sha":"90c83847ef9783414d438b4a6203ccf070148113","author":{"email":"yrganderson@gmail.com","name":"Yoseph
        Anderson"},"message":"simple readme","distinct":true,"url":"https://api.github.com/repos/Yoyo2Code/web_guesser/commits/90c83847ef9783414d438b4a6203ccf070148113"}]},"public":true,"created_at":"2016-09-01T05:46:32Z"},{"id":"4500586813","type":"CreateEvent","actor":{"id":16968035,"login":"Yoyo2Code","display_login":"Yoyo2Code","gravatar_id":"","url":"https://api.github.com/users/Yoyo2Code","avatar_url":"https://avatars.githubusercontent.com/u/16968035?"},"repo":{"id":62007534,"name":"Yoyo2Code/task_manager","url":"https://api.github.com/repos/Yoyo2Code/task_manager"},"payload":{"ref":"master","ref_type":"branch","master_branch":"examples","description":null,"pusher_type":"user"},"public":true,"created_at":"2016-09-01T05:43:46Z"},{"id":"4500582573","type":"PushEvent","actor":{"id":16968035,"login":"Yoyo2Code","display_login":"Yoyo2Code","gravatar_id":"","url":"https://api.github.com/users/Yoyo2Code","avatar_url":"https://avatars.githubusercontent.com/u/16968035?"},"repo":{"id":62523694,"name":"Yoyo2Code/robot_world","url":"https://api.github.com/repos/Yoyo2Code/robot_world"},"payload":{"push_id":1277522346,"size":1,"distinct_size":1,"ref":"refs/heads/master","hea[...]
