---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Yoyo2Code/events?Authorization=token%2041ef5851acae69b001894d2bce7751961fb47af9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '35'
      X-Ratelimit-Reset:
      - '1472882924'
      Etag:
      - W/"d7cc3269461b0765cd5cc7bbee611064"
      Last-Modified:
      - Sat, 03 Sep 2016 03:03:39 GMT
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/16968035/events?Authorization=token+41ef5851acae69b001894d2bce7751961fb47af9&page=2>;
        rel="next", <https://api.github.com/user/16968035/events?Authorization=token+41ef5851acae69b001894d2bce7751961fb47af9&page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"4511507952","type":"PushEvent","actor":{"id":16968035,"login":"Yoyo2Code","display_login":"Yoyo2Code","gravatar_id":"","url":"https://api.github.com/users/Yoyo2Code","avatar_url":"https://avatars.githubusercontent.com/u/16968035?"},"repo":{"id":66988586,"name":"Yoyo2Code/api_curious","url":"https://api.github.com/repos/Yoyo2Code/api_curious"},"payload":{"push_id":1281148653,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"258d551759e7f06505a8727487f54caf5cf56cb3","before":"655c4993a16933dca10e9e93e76d4576ea0e99fe","commits":[{"sha":"258d551759e7f06505a8727487f54caf5cf56cb3","author":{"email":"yrganderson@gmail.com","name":"Yoseph
        Anderson"},"message":"information models to store data","distinct":true,"url":"https://api.github.com/repos/Yoyo2Code/api_curious/commits/258d551759e7f06505a8727487f54caf5cf56cb3"}]},"public":true,"created_at":"2016-09-03T03:03:39Z"},{"id":"4506618738","type":"PushEvent","actor":{"id":16968035,"login":"Yoyo2Code","display_login":"Yoyo2Code","gravatar_id":"","url":"https://api.github.com/users/Yoyo2Code","avatar_url":"https://avatars.githubusercontent.com/u/16968035?"},"repo":{"id":66988586,"name":"Yoyo2Code/api_curious","url":"https://api.github.com/repos/Yoyo2Code/api_curious"},"payload":{"push_id":1279511882,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"655c4993a16933dca10e9e93e76d457[...]
