---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Yoyo2Code/received_events?Authorization=token%2041ef5851acae69b001894d2bce7751961fb47af9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '34'
      X-Ratelimit-Reset:
      - '1472882924'
      Etag:
      - W/"8329fdf840893093ae7531b61e89c8c7"
      Last-Modified:
      - Thu, 25 Aug 2016 21:26:08 GMT
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/16968035/received_events?Authorization=token+41ef5851acae69b001894d2bce7751961fb47af9&page=2>;
        rel="next", <https://api.github.com/user/16968035/received_events?Authorization=token+41ef5851acae69b001894d2bce7751961fb47af9&page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"4472218234","type":"CommitCommentEvent","actor":{"id":17038607,"login":"dtinianow","display_login":"dtinianow","gravatar_id":"","url":"https://api.github.com/users/dtinianow","avatar_url":"https://avatars.githubusercontent.com/u/17038607?"},"repo":{"id":65760106,"name":"Yoyo2Code/the_pivot","url":"https://api.github.com/repos/Yoyo2Code/the_pivot"},"payload":{"comment":{"url":"https://api.github.com/repos/Yoyo2Code/the_pivot/comments/18784072","html_url":"https://github.com/Yoyo2Code/the_pivot/commit/f565b376025972cb00e414092f0c06553429919e#commitcomment-18784072","id":18784072,"user":{"login":"dtinianow","id":17038607,"avatar_url":"https://avatars.githubusercontent.com/u/17038607?v=3","gravatar_id":"","url":"https://api.github.com/users/dtinianow","html_url":"https://github.com/dtinianow","followers_url":"https://api.github.com/users/dtinianow/followers","following_url":"https://api.github.com/users/dtinianow/following{/other_user}","gists_url":"https://api.github.com/users/dtinianow/gists{/gist_id}","starred_url":"https://api.github.com/users/dtinianow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dtinianow/subscriptions","organizations_url":"https://api.github.com/users/dtinianow/orgs","repos_url":"https://api.github.com/users/dtinianow/repos","events_url":"https://api.github.com/users/dtinianow/events{/privacy}","received_events_url":"https://api.github.com/users/dtinianow/received_events","type":"User","site_admin":false},"position":null,"line":null,"path":null,"commit_id":"f565b376025972cb00e414092f0c06553429919e","created_at":"2016-08-25T21:26:08Z","updated_at":"2016-08-25T21:26:08Z","body":"Added
        model validation tests"}},"public":true,"created_at":"2016-08-25T21:26:08Z"},{"id":"4472033802","type":"PushEvent","actor":{"id":18466392,"login":"pwentz","display_login":"pwentz","gravatar_id":"","url":"https://api.github.com/users/pwentz","avatar_url":"https://avatars.githubusercontent.com/u/18466392?"},"repo":{"id":65760106,"name":"Yoyo2Code/the_pivot","url":"https://api.github.com/repos/Yoyo2Code/the_pivot"},"payload":{"push_id":1267833751,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"f565b376025972cb00e414092f0c06553429919e","before":"09a0a01a783c6c51d3d2d6898d86e4d4c4dcc6ea","commits":[{"sha":"f565b376025972cb00e414092f0c06553429919e","author":{"email":"patrick.w.wentz@gmail.com","name":"pwentz"},"message":"fix
        root bug","distinct":true,"url":"https://api.github.com/repos/Yoyo2Code/the_pivot/commits/f565b376025972cb00e414092f0c06553429919e"}]},"public":true,"created_at":"2016-08-25T20:50:46Z"},{"id":"4471940438","type":"PushEvent","actor":{"id":18466392,"login":"pwentz","display_login":"pwentz","gravatar_id":"","url":"https://api.github.com/users/pwentz","avatar_url":"https://avatars.githubusercontent.com/u/18466392?"},"repo":{"id":65760106,"name":"Yoyo2Code/the_pivot","url":"https://api.github.com/repos/Yoyo2Code/the_pivo[...]
